body{
	background-image:url(../img/bg_diag.png);
	
}
.hero-unit{
	
margin-top:-10px;
background: #3399cc url(../img/gradient-bg.png) repeat-y left;
-o-background-size: 100% 100%;
-moz-background-size: 100% 100%;
-webkit-background-size: 100% 100%;
background-size: 100% 100%;
    
}

.hero-unit h1{
	
	margin-left:-40px;
	color:white;
}

.hero-unit p a {
	
	margin-top:20px;
	margin-left:-40px;
}
.image-hero{
	
	float:left;
	position:absolute;
	width:600px;
	right:0;
}

footer{
	height:300px;
	background-color:#111111;
	color:white;
	opacity:0.8;
}
